/***********************************
            RESET
***********************************/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
/***********************************
            GENERAL
***********************************/
:root{
    --header-color:#000000;
    --main-color: #151921;
    --footer-color:#282828;
    --title-color: #FFFFFF;
    --subtitle-color: #7B7C81;
    --affix-color:#090B11;
    --icon-header:#D2D2D2;
    --title-l:1em;
    --title-xl:1.5em;

}
.container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
}
.container header{
    background-color: var(--header-color);
    max-width: 255px;
    height: 100%;
    padding: 20px;
    line-height: 2em;
    position: relative;
    padding-bottom: 110px;
}
.container main{
    background-color: var(--main-color);
    width: 100%;
}
footer{
    background-color: var(--footer-color);
}
.title{
    color: var(--title-color);
    font-weight: bold;
}
.list li{
    color: var(--subtitle-color);
    list-style: none;
}
.container header a{
    text-decoration: none;
    color: var(--subtitle-color);

}
.container header .subtitle{
    color: var(--subtitle-color);
}

/***********************************
           HEADER
***********************************/
      .logo{
        width: 200px;
        padding-top: 10px;
        margin-bottom: 10px;
      }
      .logo .image-small{
        display: none;
      }
      .logo .image{
        width: 190px;
      }
       .logo img{
        width: 100%;
      }

       .menu .list .is-active a{
        color: var(--title-color);
      }
      .playlist{
        height: 50%;
        overflow: hidden;
      }
       .playlist .create{
        font-size:var(--title-l);
     }
     .playlist .create .subtitle{
        display: flex;
        align-items: center;
     }
       .playlist .create .subtitle i{
        font-size: 2em;
      }
       .playlist .create .subtitle span{
        line-height: 3px;
        margin-left: 10px;
      }
        .playlist .list{
        max-height: 10em;
        height: calc(100% - 70px);
        overflow: scroll;
      }
      .app{
        position: absolute;
        bottom: 0;
      }
      .app .subtitle button{
        border-color: #A3A3A3;
        border-radius: 20px;
        background-color: #000000;
        height: 20px;
        width: 20px;
    }
    .app .subtitle span{
        margin-left: 10px;
        margin-bottom: 10px;
        font-size: 0.8em;
    }
    .app .name{
        margin-top: 10px;
    }
    .app .name .title{
        margin-left: 5px;
    } 
/***********************************
         MEDIA  QUERY
***********************************/
    @media screen and (max-width:600px){
        .container header{
            background-color: var(--header-color);
            max-width: 50px;
            height: 100vh;
            padding: 8px;
            line-height: 2em;
            position: relative;
        }
        header .logo{
            margin-bottom: 0;
            padding-top: 0;
        }
        header .logo .image-small{
            display: block;
            width: 30px;
        }
        header .logo .image-small img{
            width: 100%;
        }
        header .logo .image{
            display: none;
        }   
        header .menu .list li .text{
            display: none;
        }
        header .menu .list li i{
            font-size: 25px;
        }
        header .playlist{
            display: none;
        }
        header .app{
              position: absolute;
              bottom: 0;
        }
        header .app .subtitle .text{
            display: none;
        }
        header .app hr{
            display: none;
        }
        header .app .name i{
            font-size: 25px;
        }
        header .app .name .title{
            display: none;
        }
         
    }
/***********************************
           MAIN
***********************************/
/***********************************
         SECTION  AFFIX
***********************************/
  main .affix{
    background-color: var(--affix-color);
    display: flex;
    justify-content: end;
    padding: 35px;
    position: sticky;
    
  }
  main .affix .button{
    background-color: var(--affix-color);
    color: #FFFFFF;
    padding: 15px 40px;
    border-radius: 86px;
    font-size: 0.8em;
    border-color: #FFFFFF;
 }
/***********************************
         SECTION  MENU
***********************************/
main .menu{
    margin-top: 20px;
} 
main .menu .list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
main .menu .list li{
    list-style: none;
    margin-left: 20px;
    padding: 5px;
 }
 main .menu .list li a{
    color: var(--subtitle-color);
    text-decoration: none;
 }

/***********************************
            FOOTER
***********************************/
/***********************************
            
***********************************/