/***********************************
            RESET
***********************************/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
/***********************************
            GENERAL
***********************************/
:root{
    --header-color:#000000;
    --main-color: #151921;
    --footer-color:#282828;
    --title-color: #FFFFFF;
    --subtitle-color: #7B7C81;
    --affix-color:#090b11b2;
    --icon-header:#D2D2D2;
    --title-l:1em;
    --title-xl:1.5em;

}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
}
.container header{
    background-color: var(--header-color);
    max-width: 255px;
    height: 100%;
    padding: 20px;
    line-height: 2em;
    position: relative;
    padding-bottom: 110px;
}
.container main{
    background-color: var(--main-color);
    width: 100%;
    height: 100%;
    overflow: scroll;
}
footer{
    background-color: var(--footer-color);
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    padding: 1em;
    box-sizing: content-box;
}
.container-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    color: var(--title-color);
    font-weight: bold;
}
.subtitle{
    color: var(--subtitle-color);
    font-size: 0.8em;
}
.subtitle-row{
    color: var(--subtitle-color);
    font-size: 0.8em;
}

.list li{
    color: var(--subtitle-color);
    list-style: none;
}
.container header a{
    text-decoration: none;
    color: var(--subtitle-color);

}
.container header .subtitle{
    color: var(--subtitle-color);
}
.container .wrapper{
  padding: 20px;
}


/***********************************
           HEADER
***********************************/
      .logo{
        width: 200px;
        padding-top: 10px;
        margin-bottom: 10px;
      }
      .logo .image-small{
        display: none;
      }
      .logo .image{
        width: 80%;
      }
       .logo img{
        width: 100%;
      }
      .menu .list .image{
        width: 30px;
        margin-right: 10px;
      }
      .menu .list .img{
        width: 100%;
      }
      .menu .list .is-active{
        display: flex;
      }
      .menu .list .is-active a{
        color: var(--title-color);
      }
      .menu .list .subtitle{
        display: flex;
      }
      .menu .list a:hover{
        color: #FFFFFF;
      }
      .playlist{
        height: 50%;
        overflow: hidden;
      }
       .playlist .create{
        font-size:var(--title-l);
        padding-bottom: 20px;
     }
     .playlist .create .title{
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 1.1em;
     }
     .playlist .create .subtitle{
        display: flex;
        align-items: center;
     }
       .playlist .create .subtitle a .fa-square-plu{
        font-size: 35px;
        border-radius: 0;
      }
       .playlist .create .subtitle span a{
        line-height: 2em;
        margin-left: 10px;
        font-size: 1.2em;
        font-weight: bold;
      }
        .playlist .list{
        max-height: 10em;
        height: calc(100% - 70px);
        overflow: scroll;
        color: var(--subtitle-color);
    }
    .playlist .list li{
        line-height: 35px;
    }
    .playlist .subtitle a:hover{
        color: #FFFFFF;
      }
    .playlist .list a:hover{
        color: #FFFFFF;
      }
    .app {
        margin-top: 30px;
    }
      .app .subtitle{
        display: flex;
        align-items: center;
      }
     .app .image{
        width: 20px;
    }
     .app .image img{
        width: 100%;
    }
    .app .subtitle{
        margin-left: 4px;
    }
    .app .subtitle .text{
        margin-left: 10px;
        margin-bottom: 10px;
        font-size: 1em;
        font-weight: bold;
    }
    .app .subtitle .text:hover{
         color: #FFFFFF;
    }
    .app .bar{
        width: 100%;
    }
    .app .bar .space{
        width: 100%;
        border: solid 1px #7B7C81;
    }
    .app .name{
        margin-top: 10px;
        display: flex;
    }
    .app .name .bg-image{
        background-color: #5A5A5A;
        border: solid 1px #5A5A5A;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        position: relative;
    }
    .app .name  .image{
      position: absolute;
      top: 0;
      left: 4px;
    }
    .app .name .image .image .bg-image img{
        width: 70%;
    }
    .app .name .title{
        margin-left: 15px;
    } 
/***********************************
         MEDIA  QUERY
***********************************/
    @media screen and (max-width:600px){
        .container header{
            background-color: var(--header-color);
            max-width: 50px;
            height: 100vh;
            padding: 8px;
            line-height: 2em;
            position: relative;
        }
        header .logo{
            margin-bottom: 0;
            padding-top: 0;
        }
        header .logo .image-small{
            display: block;
            width: 30px;
        }
        header .logo .image-small img{
            width: 100%;
        }
        header .logo .image{
            display: none;
        }   
        header .menu .list li .text{
            display: none;
        }
        header .menu .list li i{
            font-size: 25px;
        }
        header .playlist{
            display: none;
        }
        header .app{
              position: absolute;
              bottom: 100px;
        }
        header .app .subtitle .text{
            display: none;
        }
        header .app .bar{
            display: none;
        }
        header .app .name {
            font-size: 25px;
        }
        header .app .name .title{
            display: none;
        }
         
    }
/***********************************
           MAIN
***********************************/


/***********************************
         SECTION  AFFIX
***********************************/
  .affix{
    background-color: var(--affix-color);
    display: flex;
    justify-content: end;
    padding: 35px;
    position: sticky;
    top: 0;
    
  }
 .affix .button{
    background-color: var(--affix-color);
    color: #FFFFFF;
    padding: 15px 40px;
    border-radius: 86px;
    font-size: 0.8em;
    border-color: #FFFFFF;
    transition: 1s ease;
 }
 .affix .button:hover{
    transform : scale(1.3);
 }

/***********************************
         SECTION  MENU
***********************************/
.wrapper .menu{
    margin-top: 20px;
} 
.wrapper .menu .list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.wrapper .menu .list li{
    list-style: none;
    margin-left: 20px;
    padding: 5px;
 }
 .wrapper .menu .list li a{
    color: var(--subtitle-color);
    text-decoration: none;
 }
  .wrapper .menu .list li  .bar{
    width: 50%;
    margin-left: 25px;
    display: block;
 }
    .wrapper .menu .list li .bar .green{
        width: 100%;
        border: solid 1px #ADFF2E;
    }
    .wrapper .menu .list a:hover{
       color: #FFFFFF;
    }

 
 /***********************************
         SECTION  PLAYLIST ROW
***********************************/
     .playlist-row > .title{
        font-size: var(--title-xl);
        margin-top: 30px;
        margin-bottom: 25px;
        margin-left: 15px;
    }
    .playlist-row .albums{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        
    }
    .playlist-row .albums .album{
       width: 100%;
       text-align: center;
       padding: 0.5em;
       position: relative;
    }
    .playlist-row .albums .album .play-button{
        position: absolute;
        top: 8px;
        left: 8px;
        font-size: 45px;
        background-color: #090b11b2;
        width: 100%;
        height: 100%;
        display: none;
    }
    .playlist-row .albums .album .play-button i{
        margin-top: 60px;
    }
   .playlist-row .albums .album .image img{
        width: 100%;
    }
    .playlist-row .albums .album:hover .play-button{
       display: block;
    } 
    .playlist-row .albums .album .image .img-circle{
        width: 100%;
        border-radius: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
    .playlist-row .albums .album .title{
        font-size: var(--title-l);
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .playlist-row .subtitle-row{
        margin-bottom: 25px;
        margin-top: -16px;
        margin-left: 15px;
    }

/***********************************
         MEDIA  QUERY
***********************************/
@media screen and (max-width:1110px){
    .playlist-row .albums{
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
}
@media screen and (max-width:700px){
    .playlist-row .albums{
        grid-template-columns: 1fr 1fr ;
    }
}

/***********************************
            FOOTER
***********************************/
  .left .song{
    display: flex;
  }
  .left .image{
    width: 30px;
    height: 30px;
    margin-top: 10px;
  }
  .left .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
.left .song .text{
    padding: 10px;
}
.left .song .text a{
    text-decoration: none;
}
.left .song .text .title-song{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 0.8em;
}
.left .song .icon{
    padding: 8px;
    margin-top: 5px;
}
.left .song .icon .fa-heart{
    margin-right: 5px;
}
.left .song .text .subtitle:hover{
    color: #FFFFFF;
}
.left .song .icon a i::after{
    color: #FFFFFF;
}
.center{
    width: 35%;
}
.center .icon{
    text-align: center;
}
.center .icon i{
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
}
.center .icon .fa-circle-play{
    font-size: 30px;
}
.center .music-track{
    display: flex;
    align-items: center;
}
.center .track{
    width: 100%;
    border: solid 0 #5A5A5A;
    border-radius: 20px;
    background-color: #5A5A5A;
}
.center .music-track p{
    color: #FFFFFF;
    font-size: 0.6em;
    margin-left: 15px;
    margin-right: 15px;
}
.center .music-track .track .play{
    width: 25%;
    border:solid 3px var(--title-color);
    border-radius: 20px;
    position:relative
}
.center .icon .fa-circle-play:hover{
    transform : scale(1.3);
}
.center .music-track .track .play .cursor{
    border: solid 8px #ADFF2E;
    width: 15px;
    border-radius: 20px;
    height: 15px;
    position: absolute;
    right: -13px;
    top: -8px;
    display: none;
}
.center .music-track .track .play:hover {
 border:solid 3px #ADFF2E;
}
.center .music-track .track .play:hover .cursor{
    display: block;
   }
.right{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.right .icon{
    padding: 3px;
    font-size: 0.6em;
}
.right .icon i{
    padding: 3px;
}
.right .sound-track .track{
    width: 80px;
    border: solid 0 #5A5A5A;
    border-radius: 20px;
    background-color: #5A5A5A;
}
.right .sound-track .track .play{
    width: 25%;
    border:solid 3px var(--title-color);
    border-radius: 20px;
}
.right .sound-track .track .play .cursor{
    border: solid 4px white;
    width: 15px;
    border-radius: 20px;
    height: 15px;
    position: absolute;
    right: 85px;
    top: 38px;
    background-color: white;
    display: none;
}
.right .sound-track .track .play:hover {
    border:solid 3px #ADFF2E;;
   }
   .right .sound-track .track .play .cursor:hover{
    display: block;
   }

/***********************************
            
***********************************/